# SQL 的五十道練習

> 篩選資料

[郭耀仁](https://hahow.in/@tonykuoyj) |  <yaojenkuo@datainpoint.com>

## 練習題指引

- 開始寫作之前，可以先按上方「Copy to Drive」按鈕將筆記本複製到自己的 Google 雲端硬碟。
- 練習題共分為三種：是非題、單選題以及程式題。
- 是非題：預設答案為 `None`，若覺得敘述**不正確**，就將 `None` 改寫為 `0`，覺得敘述**正確**，就將 `None` 改寫為 `1`
- 單選題：覺得第一個選項**正確**，就將 `None` 改寫為 `1`，覺得第二個選項**正確**，就將 `None` 改寫為 `2`，覺得第三個選項**正確**，就將 `None` 改寫 `3`，覺得第四個選項**正確**，就將 `None` 改寫 `4`
- 程式題：
    - 在 SQL 語法起點與 SQL 語法終點這兩列註解之間撰寫能夠得到預期結果的 SQL。
    - 我們已經將兩個學習資料庫載入環境，SQL 可以直接指定兩個學習資料庫中的資料表，不需要額外指定資料庫。
    - 可以先在自己電腦的 SQLiteStudio 或者 DB Browser for SQLite 寫出跟預期結果相同的 SQL 後再複製貼上到練習題。
- 執行測試的方式為點選右上角 Connect，然後點選上方選單的 Runtime -> Restart and run all -> Yes -> Run anyway。
- 移動到 Google Colab 的最後一個儲存格看測試結果。

In [ ]:
!wget -N https://github.com/datainpoint/classroom-hahow-sqlfifty-2025/raw/refs/heads/main/covid19/covid19.db
!wget -N https://github.com/datainpoint/classroom-hahow-sqlfifty-2025/raw/refs/heads/main/imdb/imdb.db

In [ ]:
import sqlite3
import unittest
import os
import pandas as pd
conn = sqlite3.connect('imdb.db')
conn.execute("""ATTACH 'covid19.db' AS covid19""")

## 0601（是非題）比較結果為「假」的布林，SQLite 以整數 0 表示；比較結果為「真」的布林則以整數 1 表示。

In [ ]:
answer_0601 = None

## 0602（單選題）下列敘述何者有誤？

1. 萬用字元 `%` 表示任意文字，包含空字串。
2. 萬用字元 `_` 表示剛好一個文字。
3. 條件的聯集可以使用 `IN` 運算符。
4. `NULL` 未定義值、遺漏值（或稱空值）可以用 `=` 或 `!=` 進行判斷。

In [ ]:
answer_0602 = None

## 0603（程式題）從 `imdb` 資料庫的 `movies` 資料表查詢「魔戒三部曲」與「黑暗騎士三部曲」，參考下列預期的查詢結果。

- 預期輸出：(6, 3) 的查詢結果。

```
id	title	rating
3	The Dark Knight	9
6	The Lord of the Rings: The Return of the King	9
9	The Lord of the Rings: The Fellowship of the Ring	8.9
12	The Lord of the Rings: The Two Towers	8.8
71	The Dark Knight Rises	8.4
132	Batman Begins	8.2
```

In [ ]:
answer_0603 =\
"""
-- SQL 語法起點

-- SQL 語法終點
"""

## 0604（程式題）從 `imdb` 資料庫的 `directors` 資料表查詢 Aamir Khan 與 Clint Eastwood，參考下列預期的查詢結果。

- 預期輸出：(2, 3) 的查詢結果。

```
id	name	url
1	Aamir Khan	https://imdb.com/name/nm0451148
24	Clint Eastwood	https://imdb.com/name/nm0000142
```

In [ ]:
answer_0604 =\
"""
-- SQL 語法起點

-- SQL 語法終點
"""

## 0605（程式題）從 `imdb` 資料庫的 `actors` 資料表查詢 Aamir Khan 與 Clint Eastwood，參考下列預期的查詢結果。

- 預期輸出：(2, 3) 的查詢結果。

```
id	name	url
5	Aamir Khan	https://imdb.com/name/nm0451148
1694	Clint Eastwood	https://imdb.com/name/nm0000142
```

In [ ]:
answer_0605 =\
"""
-- SQL 語法起點

-- SQL 語法終點
"""

## 0606（程式題）從 `covid19` 資料庫的 `iso_codes` 資料表查詢台灣的觀測值，參考下列預期的查詢結果。

- 預期輸出：(1, 3) 的查詢結果。

```
id	iso2	iso3
216	TW	TWN
```

In [ ]:
answer_0606 =\
"""
-- SQL 語法起點

-- SQL 語法終點
"""

## 0607（程式題）從 `covid19` 資料庫的 `geographics` 資料表查詢 `country_region` 名稱有 land 的國家，參考下列的預期查詢結果。

- 預期輸出：(10, 1) 的查詢結果。

```
country_region
Netherlands
Switzerland
New Zealand
Finland
Ireland
Iceland
Marshall Islands
Poland
Solomon Islands
Thailand
```

In [ ]:
answer_0607 =\
"""
-- SQL 語法起點

-- SQL 語法終點
"""

## 執行測試！

點選右上角 Connect，然後點選上方選單的 Runtime -> Restart and run all -> Yes -> Run anyway。

In [ ]:
class TestChapter06(unittest.TestCase):
    def test_0601(self):
        self.assertEqual(answer_0601, 1)
    def test_0602(self):
        self.assertEqual(answer_0602, 4)
    def test_0603(self):
        df = pd.read_sql(answer_0603, conn)
        self.assertEqual(df.shape, (6, 3))
        self.assertIn("3", df.iloc[:, 0].astype(str).values)
        self.assertIn("6", df.iloc[:, 0].astype(str).values)
        self.assertIn("9", df.iloc[:, 0].astype(str).values)
        self.assertIn("12", df.iloc[:, 0].astype(str).values)
        self.assertIn("71", df.iloc[:, 0].astype(str).values)
        self.assertIn("132", df.iloc[:, 0].astype(str).values)
    def test_0604(self):
        df = pd.read_sql(answer_0604, conn)
        self.assertEqual(df.shape, (2, 3))
        self.assertIn("1", df.iloc[:, 0].astype(str).values)
        self.assertIn("24", df.iloc[:, 0].astype(str).values)
    def test_0605(self):
        df = pd.read_sql(answer_0605, conn)
        self.assertEqual(df.shape, (2, 3))
        self.assertEqual(df.shape, (2, 3))
        self.assertIn("5", df.iloc[:, 0].astype(str).values)
        self.assertIn("1694", df.iloc[:, 0].astype(str).values)
    def test_0606(self):
        df = pd.read_sql(answer_0606, conn)
        self.assertEqual(df.shape, (1, 3))
        self.assertIn("TW", df.iloc[0, :].astype(str).values)
        self.assertIn("TWN", df.iloc[0, :].astype(str).values)
    def test_0607(self):
        df = pd.read_sql(answer_0607, conn)
        self.assertEqual(df.shape, (10, 1))
        self.assertIn("Ireland", df.iloc[:, 0].astype(str).values)
        self.assertIn("Iceland", df.iloc[:, 0].astype(str).values)
        self.assertIn("Finland", df.iloc[:, 0].astype(str).values)
        self.assertIn("Poland", df.iloc[:, 0].astype(str).values)

suite = unittest.TestLoader().loadTestsFromTestCase(TestChapter06)
runner = unittest.TextTestRunner(verbosity=2)
test_results = runner.run(suite)
number_of_failures = len(test_results.failures)
number_of_errors = len(test_results.errors)
number_of_test_runs = test_results.testsRun
number_of_successes = number_of_test_runs - (number_of_failures + number_of_errors)
chapter_index = 6
chapter_name = "篩選資料"

In [ ]:
print(f"您在第 {chapter_index:02} 章「{chapter_name}」的 {number_of_test_runs} 道練習中答對了 {number_of_successes} 題。")