# SQL 的五十道練習

> 子查詢與通用資料表運算式

[郭耀仁](https://hahow.in/@tonykuoyj) |  <yaojenkuo@datainpoint.com>

## 練習題指引

- 開始寫作之前，可以先按上方「Copy to Drive」按鈕將筆記本複製到自己的 Google 雲端硬碟。
- 練習題共分為三種：是非題、單選題以及程式題。
- 是非題：預設答案為 `None`，若覺得敘述**不正確**，就將 `None` 改寫為 `0`，覺得敘述**正確**，就將 `None` 改寫為 `1`
- 單選題：覺得第一個選項**正確**，就將 `None` 改寫為 `1`，覺得第二個選項**正確**，就將 `None` 改寫為 `2`，覺得第三個選項**正確**，就將 `None` 改寫 `3`，覺得第四個選項**正確**，就將 `None` 改寫 `4`
- 程式題：
    - 在 SQL 語法起點與 SQL 語法終點這兩列註解之間撰寫能夠得到預期結果的 SQL。
    - 我們已經將兩個學習資料庫載入環境，SQL 可以直接指定兩個學習資料庫中的資料表，不需要額外指定資料庫。
    - 可以先在自己電腦的 SQLiteStudio 或者 DB Browser for SQLite 寫出跟預期結果相同的 SQL 後再複製貼上到練習題。
- 執行測試的方式為點選右上角 Connect，然後點選上方選單的 Runtime -> Restart and run all -> Yes -> Run anyway。
- 移動到 Google Colab 的最後一個儲存格看測試結果。

In [ ]:
!wget -N https://github.com/datainpoint/classroom-hahow-sqlfifty-2025/raw/refs/heads/main/covid19/covid19.db
!wget -N https://github.com/datainpoint/classroom-hahow-sqlfifty-2025/raw/refs/heads/main/imdb/imdb.db

In [ ]:
import sqlite3
import unittest
import os
import pandas as pd
conn = sqlite3.connect('imdb.db')
conn.execute("""ATTACH 'covid19.db' AS covid19""")

## 0901（是非題）初學子查詢可先寫出分段查詢，再以「後向推導」的方式寫出子查詢

In [ ]:
answer_0901 = None

## 0902（單選題）下列敘述何者有誤？

1. 使用 `WITH` 敘述可以建立通用資料表運算式。
2. 通用資料表運算式可以不必在同一個 SQL 敘述中進行定義與使用。
3. 我們可以將通用資料表運算式視為一種暫存的資料表。
4. 子查詢可以將先執行的內層查詢作為像變數一般的存在，供後執行的外層查詢使用。

In [ ]:
answer_0902 = None

## 0903（單選題）通用資料表運算式的英文全名為何？

1. Common Table Execution, CTE.
2. Calculated Table Execution, CTE.
3. Common Table Expression, CTE.
4. Cumulative Table Expression, CTE。

In [ ]:
answer_0903 = None

## 0904（程式題）從 `imdb` 資料庫運用子查詢找出電影 Gone with the Wind 的上映資訊，參考下列預期的查詢結果。

- 預期輸出：(158, 2) 的查詢結果。

```
country	released_on
United States	1939-12-15
United States	1939-12-19
United States	1939-12-28
Cameroon	1939-12-29
Cameroon	1939-12-29
Cameroon	1940-01-05
United States	1940-01-17
Chile	1940-01-18
Cameroon	1940-01-19
Canada	1940-02-16
Philippines	1940-03-01
South Africa	1940-04-12
United Kingdom	1940-04-18
Australia	1940-04-30
Australia	1940-05-01
South Africa	1940-07-05
Brazil	1940-09-12
Brazil	1940-09-19
Uruguay	1940-09-25
Argentina	1940-09-26
Peru	1940-10-10
Mexico	1941-01-22
Dominican Republic	1941-04-25
Sweden	1941-10-06
United States	1942-03-31
Ireland	1942-09-04
Ireland	1943-03-26
Portugal	1943-09-20
France	1944-08-22
Belgium	1945-04-17
United States	1947-08-21
Norway	1947-12-15
South Africa	1948-11-25
Belgium	1949-03-03
Netherlands	1949-03-03
Italy	1949-03-12
Italy	1949-03-17
Hong Kong	1949-06-16
Turkey	1950-01-01
France	1950-05-20
Australia	1950-06-02
Netherlands	1950-06-20
Finland	1950-09-15
Spain	1950-11-17
Spain	1950-11-17
Spain	1951-03-24
Italy	1951-11-03
Taiwan	1952-04-25
Philippines	1952-05-20
Japan	1952-09-04
Turkey	1953-01-14
West Germany	1953-01-15
Austria	1953-01-30
Greece	1953-02-02
United States	1954-06-03
Slovenia	1954-09-05
France	1954-09-15
South Korea	1957-03-25
Denmark	1958-09-09
Taiwan	1959-12-27
United States	1961-03-10
Spain	1961-12-11
Finland	1961-12-29
Spain	1962-10-15
Poland	1963-01-01
Australia	1967-03-25
Brazil	1967-09-18
United States	1967-10-10
United States	1967-10-14
Argentina	1967-11-01
Philippines	1967-12-27
Chile	1967-12-28
Cameroon	1967-12-29
France	1968-05-10
Uruguay	1968-09-05
United Kingdom	1968-09-10
Belgium	1968-11-14
Ireland	1968-12-20
United Kingdom	1969-03-12
Netherlands	1969-04-03
France	1969-04-11
Spain	1970-10-09
Spain	1970-10-22
Japan	1972-02-05
Brazil	1972-02-28
Portugal	1972-07-21
Turkey	1974-02-01
United States	1974-09-18
Brazil	1976-04-19
United States	1976-06-11
Japan	1976-08-28
Finland	1977-02-11
Italy	1977-11-10
Spain	1980-05-29
Portugal	1980-06-04
Australia	1981-05-22
Australia	1983-07-21
Brazil	1983-09-09
Spain	1986-06-27
United States	1989-02-03
Australia	1989-08-17
Spain	1989-11-03
West Germany	1990-03-29
Soviet Union	1990-10-19
Estonia	1990-12-24
Czechoslovakia	1992-01-12
Philippines	1993-06-23
Japan	1994-08-06
South Korea	1995-05-05
United States	1998-06-26
Australia	1999-05-13
Argentina	1999-08-05
Japan	1999-10-16
New Zealand	2000-01-28
Singapore	2000-03-07
Spain	2001-07-13
Russia	2002-08-01
France	2003-10-01
Poland	2004-12-03
Japan	2005-12-28
United Arab Emirates	2008-05-14
Indonesia	2008-12-31
Poland	2009-02-27
Israel	2010-04-13
Japan	2010-10-30
United Kingdom	2013-11-22
Peru	2014-09-04
United States	2014-09-28
United States	2014-09-28
Mexico	2014-10-18
Mexico	2014-10-30
Italy	2014-11-29
Netherlands	2014-12-18
China	2015-06-13
China	2017-04-15
Argentina	2017-04-20
China	2019-04-08
Taiwan	2019-04-12
Taiwan	2019-08-30
India	2020-07-08
Egypt	2021-05-27
China	2023-06-09
Cambodia	2023-12-06
Argentina	2023-12-08
Aruba	2023-12-08
Canada	2023-12-08
Chile	2023-12-08
Cameroon	2023-12-08
France	2023-12-08
United Kingdom	2023-12-08
Ireland	2023-12-08
Italy	2023-12-08
Peru	2023-12-08
Philippines	2023-12-08
Sweden	2023-12-08
United States	2023-12-08
Cameroon	2023-12-29
Taiwan	2024-07-22
```

In [ ]:
answer_0904 =\
"""
-- SQL 語法起點

-- SQL 語法終點
"""

## 0905（程式題）從 `imdb` 資料庫運用子查詢找出有演員 Leonardo DiCaprio 出演的電影、由 Christopher Nolan 執導的電影，參考下列預期的查詢結果。

- 預期輸出：(13, 1) 的查詢結果。

```
title
Inception
The Departed
Django Unchained
The Wolf of Wall Street
Shutter Island
Catch Me If You Can
The Dark Knight
Interstellar
The Prestige
Memento
The Dark Knight Rises
Oppenheimer
Batman Begins
```

In [ ]:
answer_0905 =\
"""
-- SQL 語法起點

-- SQL 語法終點
"""

## 0906（程式題）從 `imdb` 資料庫運用通用資料表運算式計算 MPA 評等為 G 的電影佔所有電影的比例，參考下列預期的查詢結果。

- 預期輸出：(1, 1) 的查詢結果。

```
percentage
7.2%
```

In [ ]:
answer_0906 =\
"""
-- SQL 語法起點

-- SQL 語法終點
"""

## 0907（程式題）從 `covid19` 資料庫的 `geographics` 資料表將 `province_state` 欄位為 `NULL` 以及 `population` 大於 1 億的資料篩選出來，參考下列預期的查詢結果。

- 預期輸出：(14, 2) 的查詢結果。

```
population	iso_code_id
164689383	18
212559409	30
1411778724	45
102334403	61
114963583	65
273523621	95
1380004385	99
126476458	107
127792286	150
206139587	156
109581085	169
220892331	170
145934460	183
329466283	220
```

In [ ]:
answer_0907 =\
"""
-- SQL 語法起點

-- SQL 語法終點
"""

## 0908（程式題）承上題，從 `covid19` 資料庫運用子查詢找出人口數超過 1 億的國家 `iso2` 與 `iso3`，參考下列預期的查詢結果。

- 預期輸出：(14, 2) 的查詢結果。

```
iso2	iso3
BD	BGD
BR	BRA
CN	CHN
EG	EGY
ET	ETH
ID	IDN
IN	IND
JP	JPN
MX	MEX
NG	NGA
PH	PHL
PK	PAK
RU	RUS
US	USA
```

In [ ]:
answer_0908 =\
"""
-- SQL 語法起點

-- SQL 語法終點
"""

## 0909（程式題）承上題，從 `covid19` 資料庫運用通用資料表運算式找出人口數超過 1 億的國家人口數佔全世界人口數比例，參考下列預期的查詢結果。

- 預期輸出：(1, 1) 的查詢結果。

```
percentage
63.6%
```

In [ ]:
answer_0909 =\
"""
-- SQL 語法起點

-- SQL 語法終點
"""

## 執行測試！

點選右上角 Connect，然後點選上方選單的 Runtime -> Restart and run all -> Yes -> Run anyway。

In [ ]:
class TestChapter09(unittest.TestCase):
    def test_0901(self):
        self.assertEqual(answer_0901, 1)
    def test_0902(self):
        self.assertEqual(answer_0902, 2)
    def test_0903(self):
        self.assertEqual(answer_0903, 3)
    def test_0904(self):
        df = pd.read_sql(answer_0904, conn)
        self.assertEqual(df.shape, (158, 2))
        self.assertIn("Taiwan", df.iloc[:, 0].values)
        self.assertIn("2024-07-22", df.iloc[:, 1].astype(str).values)
        self.assertIn("1952-04-25", df.iloc[:, 1].astype(str).values)
    def test_0905(self):
        df = pd.read_sql(answer_0905, conn)
        self.assertEqual(df.shape, (13, 1))
        self.assertIn("Inception", df.iloc[:, 0].values)
        self.assertIn("The Dark Knight", df.iloc[:, 0].values)
        self.assertIn("Oppenheimer", df.iloc[:, 0].values)
        self.assertIn("The Wolf of Wall Street", df.iloc[:, 0].values)
    def test_0906(self):
        df = pd.read_sql(answer_0906, conn)
        self.assertEqual(df.shape, (1, 1))
        self.assertEqual("7.2%", df.iloc[0, 0])
    def test_0907(self):
        df = pd.read_sql(answer_0907, conn)
        self.assertEqual(df.shape, (14, 2))
        self.assertTrue(df.iloc[:, 0].min() > 100000000)
        self.assertTrue(df.iloc[:, 0].max() > 1000000000)
    def test_0908(self):
        df = pd.read_sql(answer_0908, conn)
        self.assertEqual(df.shape, (14, 2))
        self.assertIn("US", df.iloc[:, 0].values)
        self.assertIn("JP", df.iloc[:, 0].values)
        self.assertIn("PH", df.iloc[:, 0].values)
    def test_0909(self):
        df = pd.read_sql(answer_0909, conn)
        self.assertEqual(df.shape, (1, 1))
        self.assertEqual("63.6%", df.iloc[0, 0])
        
suite = unittest.TestLoader().loadTestsFromTestCase(TestChapter09)
runner = unittest.TextTestRunner(verbosity=2)
test_results = runner.run(suite)
number_of_failures = len(test_results.failures)
number_of_errors = len(test_results.errors)
number_of_test_runs = test_results.testsRun
number_of_successes = number_of_test_runs - (number_of_failures + number_of_errors)
chapter_index = 9
chapter_name = "子查詢與通用資料表運算式"

In [ ]:
print(f"您在第 {chapter_index:02} 章「{chapter_name}」的 {number_of_test_runs} 道練習中答對了 {number_of_successes} 題。")