# SQL 的五十道練習

> 關聯資料表

[郭耀仁](https://hahow.in/@tonykuoyj) |  <yaojenkuo@datainpoint.com>

## 練習題指引

- 開始寫作之前，可以先按上方「Copy to Drive」按鈕將筆記本複製到自己的 Google 雲端硬碟。
- 練習題共分為三種：是非題、單選題以及程式題。
- 是非題：預設答案為 `None`，若覺得敘述**不正確**，就將 `None` 改寫為 `0`，覺得敘述**正確**，就將 `None` 改寫為 `1`
- 單選題：覺得第一個選項**正確**，就將 `None` 改寫為 `1`，覺得第二個選項**正確**，就將 `None` 改寫為 `2`，覺得第三個選項**正確**，就將 `None` 改寫 `3`，覺得第四個選項**正確**，就將 `None` 改寫 `4`
- 程式題：
    - 在 SQL 語法起點與 SQL 語法終點這兩列註解之間撰寫能夠得到預期結果的 SQL。
    - 我們已經將兩個學習資料庫載入環境，SQL 可以直接指定兩個學習資料庫中的資料表，不需要額外指定資料庫。
    - 可以先在自己電腦的 SQLiteStudio 或者 DB Browser for SQLite 寫出跟預期結果相同的 SQL 後再複製貼上到練習題。
- 執行測試的方式為點選右上角 Connect，然後點選上方選單的 Runtime -> Restart and run all -> Yes -> Run anyway。
- 移動到 Google Colab 的最後一個儲存格看測試結果。

In [ ]:
!wget -N https://github.com/datainpoint/classroom-hahow-sqlfifty-2025/raw/refs/heads/main/covid19/covid19.db
!wget -N https://github.com/datainpoint/classroom-hahow-sqlfifty-2025/raw/refs/heads/main/imdb/imdb.db

In [ ]:
import sqlite3
import unittest
import pandas as pd
conn = sqlite3.connect('imdb.db')
conn.execute("""ATTACH 'covid19.db' AS covid19""")

## 1001（是非題）使用 `JOIN` 與 `FULL JOIN` 的時候，左資料表（在 `FROM` 之後）或右資料表（在 `JOIN` 之後）的指定沒有差別。

In [ ]:
answer_1001 = None

## 1002（是非題）使用 `LEFT JOIN` 與 `RIGHT JOIN` 的時候，左資料表（在 `FROM` 之後）或右資料表（在 `JOIN` 之後）的指定沒有差別。

In [ ]:
answer_1002 = None

## 1003（是非題）使用任何的連接類型時，`ON` 之後左資料表的連接鍵或右資料表的連接鍵在書寫順序上沒有差別。

In [ ]:
answer_1003 = None

## 1004（單選題）下列有關於 `UNION` 的敘述何者有誤？

1. `UNION` 前後敘述所選擇的欄位數要相同。
2. 若有使用到 `ORDER BY` 只能放在 `UNION` 之後。
3. `UNION ALL` 會省略重複觀測值。
4. 簡單來說，就是將觀測值垂直合併至同一個查詢結果。

In [ ]:
answer_1004 = None

## 1005（單選題）下列何者是 SQLite 支援的連結類型？

1. 內部連結 `JOIN`
2. 左連結 `LEFT JOIN`
3. 右連結 `RIGHT JOIN`
4. 全連結 `FULL JOIN`
5. 以上皆是。

In [ ]:
answer_1005 = None

## 1006（程式題）從 `imdb` 資料庫查詢電影 Avengers: Infinity War 以及 Avengers: Endgame 的導演，參考下列預期的查詢結果。

- 預期輸出：(4, 2) 的查詢結果。

```
title	name
Avengers: Infinity War	Anthony Russo
Avengers: Infinity War	Joe Russo
Avengers: Endgame	Anthony Russo
Avengers: Endgame	Joe Russo
```

In [ ]:
answer_1006 =\
"""
-- SQL 語法起點

-- SQL 語法終點
"""

## 1007（程式題）從 `imdb` 資料庫查詢導演 Christopher Nolan 與 Steven Spielberg 所執導的電影與其 MPA 評等，參考下列預期的查詢結果。

- 預期輸出：(15, 3) 的查詢結果。

```
name	title	mpa
Christopher Nolan	The Dark Knight	PG-13
Christopher Nolan	Inception	PG-13
Christopher Nolan	Interstellar	PG-13
Christopher Nolan	The Prestige	PG-13
Christopher Nolan	Memento	R
Christopher Nolan	The Dark Knight Rises	PG-13
Christopher Nolan	Oppenheimer	R
Christopher Nolan	Batman Begins	PG-13
Steven Spielberg	Schindler's List	R
Steven Spielberg	Saving Private Ryan	R
Steven Spielberg	Raiders of the Lost Ark	PG
Steven Spielberg	Indiana Jones and the Last Crusade	PG-13
Steven Spielberg	Jurassic Park	PG-13
Steven Spielberg	Catch Me If You Can	PG-13
Steven Spielberg	Jaws	PG
```

In [ ]:
answer_1007 =\
"""
-- SQL 語法起點

-- SQL 語法終點
"""

## 1008（程式題）從 `imdb` 資料庫查詢電影魔戒三部曲在台灣的上映日期，參考下列預期的查詢結果。

- 預期輸出：(7, 3) 的查詢結果。

```
title	country	released_on
The Lord of the Rings: The Fellowship of the Ring	Taiwan	2002-01-18
The Lord of the Rings: The Two Towers	Taiwan	2002-12-19
The Lord of the Rings: The Two Towers	Taiwan	2002-12-20
The Lord of the Rings: The Return of the King	Taiwan	2003-12-18
The Lord of the Rings: The Return of the King	Taiwan	2021-04-29
The Lord of the Rings: The Fellowship of the Ring	Taiwan	2021-04-29
The Lord of the Rings: The Two Towers	Taiwan	2021-04-29
```

In [ ]:
answer_1008 =\
"""
-- SQL 語法起點

-- SQL 語法終點
"""

## 1009（程式題）從 `covid19` 資料庫查詢台灣在最後一個資料更新日期 2023-03-09 的累計確診人數、累計死亡人數，參考下列預期的查詢結果。

- 預期輸出：(1, 6) 的查詢結果。

```
country_region	iso2	iso3	cumulative_confirmed	cumulative_deaths	updated_on
Taiwan	TW	TWN	9970937	17672	2023-03-09
```

In [ ]:
answer_1009 =\
"""
-- SQL 語法起點

-- SQL 語法終點
"""

## 1010（程式題）從 `covid19` 資料庫查詢全球人口數超過 1 億的國家（排除中國，因為中國的時間序列資料沒有國家統計，僅有省統計）在最後一個資料更新日期 2023-03-09 的累計確診人數、累計死亡人數，參考下列預期的查詢結果。

- 預期輸出：(13, 6) 的查詢結果。

```
country_region	iso2	iso3	cumulative_confirmed	cumulative_deaths	updated_on
US	US	USA	103802702	1123836	2023-03-09
India	IN	IND	44690738	530779	2023-03-09
Brazil	BR	BRA	37076053	699276	2023-03-09
Japan	JP	JPN	33320438	72997	2023-03-09
Russia	RU	RUS	22075858	388478	2023-03-09
Mexico	MX	MEX	7483444	333188	2023-03-09
Indonesia	ID	IDN	6738225	160941	2023-03-09
Philippines	PH	PHL	4077452	66188	2023-03-09
Bangladesh	BD	BGD	2037871	29445	2023-03-09
Pakistan	PK	PAK	1577411	30644	2023-03-09
Egypt	EG	EGY	515759	24812	2023-03-09
Ethiopia	ET	ETH	500116	7572	2023-03-09
Nigeria	NG	NGA	266598	3155	2023-03-09
```

In [ ]:
answer_1010 =\
"""
-- SQL 語法起點

-- SQL 語法終點
"""

## 執行測試！

點選右上角 Connect，然後點選上方選單的 Runtime -> Restart and run all -> Yes -> Run anyway。

In [ ]:
class TestChapter10(unittest.TestCase):
    def test_1001(self):
        self.assertEqual(answer_1001, 1)
    def test_1002(self):
        self.assertEqual(answer_1002, 0)
    def test_1003(self):
        self.assertEqual(answer_1003, 1)
    def test_1004(self):
        self.assertEqual(answer_1004, 3)
    def test_1005(self):
        self.assertEqual(answer_1005, 5)
    def test_1006(self):
        df = pd.read_sql(answer_1006, conn)
        self.assertEqual(df.shape, (4, 2))
        self.assertIn("Avengers: Infinity War", df.iloc[:, 0].values)
        self.assertIn("Avengers: Endgame", df.iloc[:, 0].values)
        self.assertIn("Anthony Russo", df.iloc[:, 1].values)
        self.assertIn("Joe Russo", df.iloc[:, 1].values)
    def test_1007(self):
        df = pd.read_sql(answer_1007, conn)
        self.assertEqual(df.shape, (15, 3))
        self.assertIn("Christopher Nolan", df.iloc[:, 0].values)
        self.assertIn("Steven Spielberg", df.iloc[:, 0].values)
        self.assertIn("The Dark Knight", df.iloc[:, 1].values)
        self.assertIn("Jurassic Park", df.iloc[:, 1].values)
        self.assertIn("PG-13", df.iloc[:, 2].values)
        self.assertIn("R", df.iloc[:, 2].values)
        self.assertIn("PG", df.iloc[:, 2].values)
    def test_1008(self):
        df = pd.read_sql(answer_1008, conn)
        self.assertEqual(df.shape, (7, 3))
        self.assertIn("The Lord of the Rings: The Fellowship of the Ring", df.iloc[:, 0].values)
        self.assertIn("The Lord of the Rings: The Two Towers", df.iloc[:, 0].values)
        self.assertIn("The Lord of the Rings: The Return of the King", df.iloc[:, 0].values)
        self.assertIn("Taiwan", df.iloc[:, 1].values)
        self.assertIn("2021-04-29", df.iloc[:, 2].astype(str).values)
    def test_1009(self):
        df = pd.read_sql(answer_1009, conn)
        self.assertEqual(df.shape, (1, 6))
        self.assertIn("Taiwan", df.iloc[0, :].astype(str).values)
        self.assertIn("TW", df.iloc[0, :].astype(str).values)
        self.assertIn("TWN", df.iloc[0, :].astype(str).values)
        self.assertIn("2023-03-09", df.iloc[0, :].astype(str).values)
    def test_1010(self):
        df = pd.read_sql(answer_1010, conn)
        self.assertEqual(df.shape, (13, 6))
        self.assertIn("US", df.iloc[:, 0].values)
        self.assertIn("Japan", df.iloc[:, 0].values)
        self.assertIn("US", df.iloc[:, 1].values)
        self.assertIn("JP", df.iloc[:, 1].values)
        self.assertIn("USA", df.iloc[:, 2].values)
        self.assertIn("JPN", df.iloc[:, 2].values)
        self.assertIn("2023-03-09", df.iloc[:, 5].astype(str).values)
        
suite = unittest.TestLoader().loadTestsFromTestCase(TestChapter10)
runner = unittest.TextTestRunner(verbosity=2)
test_results = runner.run(suite)
number_of_failures = len(test_results.failures)
number_of_errors = len(test_results.errors)
number_of_test_runs = test_results.testsRun
number_of_successes = number_of_test_runs - (number_of_failures + number_of_errors)
chapter_index = 10
chapter_name = "關聯資料表"

In [ ]:
print(f"您在第 {chapter_index:02} 章「{chapter_name}」的 {number_of_test_runs} 道練習中答對了 {number_of_successes} 題。")